/**
 * elements/_main.scss
 */

/* ==========================================================================
   Headings
   ========================================================================== 
   */

h1 {

}

h2 {

}